In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

In [5]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

In [7]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age)
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Divya", 20)
create_student("vaishnavi", 22)

Record added successfully!
Record added successfully!

In [8]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(1, 'Divya', 20)
(2, 'vaishnavi', 22)

In [13]:
def update_student_age(student_id, new_age):
    cursor.execute('''
        UPDATE students
        SET age = ?
        WHERE id = ?
    ''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(1, 21)
read_students()

Student age updated successfully!
Student Records:
(1, 'Divya', 21)
(2, 'vaishnavi', 22)

In [14]:
def delete_student(student_id):
    cursor.execute('''
        DELETE FROM students
        WHERE id = ?
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)  # Deleting Vaishnavi's record
read_students()

Student deleted successfully!
Student Records:
(1, 'Divya', 21)

In [15]:
connection.close()
print("Database connection closed successfully!")

Database connection closed successfully!